body {
   background-color: silver;
}

nav {
   border-radius: 0 !important;
}

h1 {
   text-align: center;
   padding-top: 40px;
   display : block;  
}

p {
   font-family: Georgia;
   font-size: 30px !important;
   font-weight: bold;
   text-align: justify;
   margin: 60px;
}

tr {
   font-weight: bold;
   height: 50px;
   text-align: center;
   vertical-align: middle !important;
}

tr:hover {
   background-color: #f6f8fa !important;
   cursor: pointer;
}

.no-hover{
   background-color: #f6f8fa;
}

.no-hover:hover {
   background-color: #fff !important;
}

th {
   text-align: center !important;
}

table {
   width: 100% !important;
   border: silver solid 1px !important;
}

.jumbotron {
   padding: 0px !important;
   background-color: white !important;
   border: solid 1px #e1e4e8;
}

.issue-row {
   border: solid 1px #e1e4e8;
   font-weight: bold;
   text-align: left;
   padding: 20px;
   font-family: Helvetica;
}

.date {
   font-size: 14px;
   color: silver;
   font-weight: normal;
}

.container {
   margin-top: 40px;
   background-color: white;
}

.react-container {
   margin-top: 60px;
}